<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 
	<bean id="jmsFactory" class="com.ibm.mq.jms.MQQueueConnectionFactory">
		<property name="queueManager">
			<value>MY_MQ</value>
		</property>
		<property name="transportType" value="0" />
	</bean>
-->

      <bean id="myProxyConnectionFactory"
              class="org.springframework.jms.connection.UserCredentialsConnectionFactoryAdapter">
              <property name="targetConnectionFactory">
                     <bean class="com.ibm.mq.jms.MQQueueConnectionFactory">
                           <property name="hostName">
                                  <value>ART-MQ</value>
                           </property>
                           <property name="queueManager">
                                  <value>MY_QM</value>
                           </property>
                           <property name="channel">
                                  <value>MY_QM_CONN</value>
                           </property>
                           <property name="port">
                                  <value>1414</value>
                           </property>
                           <property name="transportType" value="1" />
                     </bean>
              </property>
              <property name="username" value="mqmusr" />
              <property name="password" value="222" /> 
       </bean>
 

	<bean id="sendDestination" class="com.ibm.mq.jms.MQQueue">
		<property name="baseQueueName">
			<value>TEST_QUEUE</value>
		</property>
	</bean>


	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory">
			<bean class="org.springframework.jms.connection.SingleConnectionFactory">
				<property name="targetConnectionFactory">
					<ref bean="myProxyConnectionFactory" />
				</property>
			</bean>
		</property>
		<property name="defaultDestination">
			<ref bean="sendDestination" />
		</property>
		<property name="receiveTimeout">
			<value>30000</value>
		</property>
	</bean>



	<bean id="jmsSender" class="ru.cetelem.examplemq.ExampleJMSSender">
		<property name="jmsTemplate">
			<ref bean="jmsTemplate" />
		</property>
	</bean>

</beans>